<?xml version="1.0" encoding="utf-8"?>
<web-app
	version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>name.dlazerka.slounik.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/rpc/search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ColonUploadServlet</servlet-name>
		<servlet-class>name.dlazerka.slounik.admin.ColonUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ColonUploadServlet</servlet-name>
		<url-pattern>/admin/upload/colon</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StardictUploadServlet</servlet-name>
		<servlet-class>name.dlazerka.slounik.admin.StardictUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StardictUploadServlet</servlet-name>
		<url-pattern>/admin/upload/stardict</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StardictSplitServlet</servlet-name>
		<servlet-class>name.dlazerka.slounik.admin.StardictSplitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StardictSplitServlet</servlet-name>
		<url-pattern>/admin/split/stardict</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DBServlet</servlet-name>
		<servlet-class>name.dlazerka.db.DBServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBServlet</servlet-name>
		<url-pattern>/admin/db/*</url-pattern>
	</servlet-mapping>

<!--
	<servlet>
		<servlet-name>mapreduce</servlet-name>
		<servlet-class>com.google.appengine.tools.mapreduce.MapReduceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mapreduce</servlet-name>
		<url-pattern>/admin/mapreduce/*</url-pattern>
	</servlet-mapping>

-->
	<welcome-file-list>
		<welcome-file>slounik.html</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Admin area</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
			<url-pattern>/admin</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
</web-app>
