<?xml version="1.0" encoding="utf-8"?>
<web-app
	version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>me.lazerka.slounik.gae.web.ServletContextListener</listener-class>
	</listener>

	<filter>
		<filter-name>BypassGuiceFilter</filter-name>
		<filter-class>me.lazerka.slounik.gae.web.BypassGuiceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>BypassGuiceFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
	<!-- Needed for Dev mode UploadBlobServlet which forwards to a servlet handled by Guice. -->
	<filter-mapping>
		<filter-name>BypassGuiceFilter</filter-name>
		<url-pattern>*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>ALL</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Admin area</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
			<url-pattern>/admin</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
</web-app>
