/*
 *    Copyright 2015 Dzmitry Lazerka
 *
 *    This file is part of Slounik.
 *
 *    This program is free software: you can redistribute it and/or modify
 *    it under the terms of the GNU General Public License as published by
 *    the Free Software Foundation, either version 2 of the License, or
 *    (at your option) any later version.
 *
 *    This program is distributed in the hope that it will be useful,
 *    but WITHOUT ANY WARRANTY; without even the implied warranty of
 *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *    GNU General Public License for more details.
 *
 *    You should have received a copy of the GNU General Public License
 *    along with this program.  If not, see <http://www.gnu.org/licenses/>
 */

* {
	font-family: arial, sans-serif;
}
html, body {
	margin: 0;
}
.main {
	margin: 2ex auto;
	text-align: center;
	white-space: nowrap;
}
.input {
	text-align: center;
	padding: 0.25em;
	border-radius: 4px;
	border: 1px black solid;
	width: 90%;
}

.results {
	margin: 0;
	width: 100%;
}
.results th {
	color: gray;
}

.results .left,
.results .right {
	min-width: 13ex;
	width: 47%;
	white-space: normal;
}
.results .left {
	text-align: right;
}
.results .right {
	text-align: left;
}
.results .arrows {
	margin: 0 auto;
}
.results .match {
	text-decoration: underline;
}
.results .translation {
	display: inline-block;
	word-wrap: normal;
	font-size: 0;
}
.results .comma {
	padding-right: 1ex;
}

.words .query {
	text-decoration: underline;
}
.no-results {
	color: #dd0000;
	padding: 30px 0;
}
.searching {
	color: gray;
	padding: 30px 0;
}
.dict {
	color: gray;
	min-height: 1.2em;
}
@media screen and (min-width: 40ex) {
	* {
		font-size: large;
	}
}
