* {
	font-family: arial, sans-serif;
}
html, body {
	margin: 0;
}
.main {
	margin: 2ex auto;
	text-align: center;
	white-space: nowrap;
}
.input {
	text-align: center;
	padding: 0.25em;
	border-radius: 4px;
	border: 1px black solid;
	width: 90%;
}

.results {
	margin: 0 auto;
}
.results th {
	color: gray;
}

.results .left,
.results .right {
	max-width: 47%;
	min-width: 13ex;
}
.results .left {
	text-align: right;
}
.results .right {
	text-align: left;
}
.results .arrows {
	margin: 0 auto;
}
.results .match {
	text-decoration: underline;
}

.words .query {
	text-decoration: underline;
}
.no-results {
	color: #dd0000;
	padding: 30px 0;
}
.searching {
	color: gray;
	padding: 30px 0;
}
@media screen and (min-width: 40ex) {
	* {
		font-size: large;
	}
}
